<!-- TODO: Style out the br -->
<div class="container">
  <h2 class="center">What is your name, Jester?</h2>
  <form action="/signup" method="post">
    Username:<br>
    <input type="text" name="name" placeholder="Username"><br>
    Password:<br>
    <input type="password" name="password" placeholder="Password"><br>
    Password Confirmation:<br>
    <input type="password" name="password_confirmation" placeholder="Password"><br>
    <input type="submit" value="Make us laugh!">
  </form>
</div>