.center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.small {
  font-size: 9px;
}

header{
  height: 50px;
  background: url(/imgs/joker.jpg);
  background-repeat: no-repeat;
  background-color: black;
  border-bottom: 2px solid white;
  z-index: 10;
}

.left {
  margin-top: 1;
  margin-left: 25px;
  float: left;
  list-style-type: none;
}

.right {
  margin-top: 1;
  float: right;
  list-style-type: none;
}

header ul li {
  display: inline;
}

body{
  background-color: #bdc3c7;
  font-family: 'Share Tech Mono';
}
.container {
 width: 80%;
 margin: auto;
}

#jokelist {
  width: 60%;
  overflow: scroll;
  height: 700px;
  display: inline-block;
  float: left;
  border: 2px inset #8e44ad;
}

#comments {
  width: 35%;
  overflow: scroll;
  height: 700px;
  display: inline-block;
  float: right;
  border: 2px outset #8e44ad;
}

#user-info {
  height: 100px;
  padding-top: 15px;
  width: 100%;
}

a {
  color: #8E0009;
}

a:hover {
  color: #69BB01;
}