<div id="new-joke">
  <p>Got a good joke?</p>
  <form action="/joke/new" method="post">
    <input type="text" placeholder="Line 1" name='line1'/><br>
    <input type="text" placeholder="Line 2 (optional)" name='line2'/><br>
    <input type="submit" value="TELL THE WORLD" />
  </form>
</div>